.dashboard__section {
  background-color: #efefef;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.dashboard__container {
  margin: 7rem auto 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dashboard__cunt-2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.jobsApply__section {
  background-image: linear-gradient(216deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 25%, rgba(42, 42, 42, 0.05) 25%, rgba(42, 42, 42, 0.05) 38%, rgba(223, 223, 223, 0.05) 38%, rgba(223, 223, 223, 0.05) 75%, rgba(36, 36, 36, 0.05) 75%, rgba(36, 36, 36, 0.05) 100%), linear-gradient(44deg, rgba(128, 128, 128, 0.05) 0%, rgba(128, 128, 128, 0.05) 34%, rgba(212, 212, 212, 0.05) 34%, rgba(212, 212, 212, 0.05) 57%, rgba(25, 25, 25, 0.05) 57%, rgba(25, 25, 25, 0.05) 89%, rgba(135, 135, 135, 0.05) 89%, rgba(135, 135, 135, 0.05) 100%), linear-gradient(241deg, rgba(55, 55, 55, 0.05) 0%, rgba(55, 55, 55, 0.05) 14%, rgba(209, 209, 209, 0.05) 14%, rgba(209, 209, 209, 0.05) 60%, rgba(245, 245, 245, 0.05) 60%, rgba(245, 245, 245, 0.05) 69%, rgba(164, 164, 164, 0.05) 69%, rgba(164, 164, 164, 0.05) 100%), linear-gradient(249deg, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 32%, rgba(148, 148, 148, 0.05) 32%, rgba(148, 148, 148, 0.05) 35%, rgba(202, 202, 202, 0.05) 35%, rgba(202, 202, 202, 0.05) 51%, rgba(181, 181, 181, 0.05) 51%, rgba(181, 181, 181, 0.05) 100%), linear-gradient(92deg, rgba(231, 234, 247, 0.99), rgba(231, 234, 247, 0.99));
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.jobsApply__section-heading {
  text-transform: uppercase;
  margin: 6rem auto 4rem auto;
  font-size: 2rem;
  font-weight: 700;
  transform: scale(1.2, 1);
}
.jobsApply__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  width: 87%;
  margin: 0 auto;
}

.AddJob__section {
  margin: 0 auto;
  background-image: linear-gradient(135deg, transparent 0%, transparent 17%, rgba(87, 146, 234, 0.21) 17%, rgba(87, 146, 234, 0.21) 59%, transparent 59%, transparent 64%, rgba(149, 170, 236, 0.29) 64%, rgba(149, 170, 236, 0.29) 100%), linear-gradient(45deg, transparent 0%, transparent 2%, rgba(189, 221, 255, 0.47) 2%, rgba(189, 221, 255, 0.47) 46%, rgba(114, 178, 239, 0.27) 46%, rgba(114, 178, 239, 0.27) 54%, transparent 54%, transparent 63%, rgba(170, 186, 248, 0.29) 63%, rgba(170, 186, 248, 0.29) 100%), linear-gradient(90deg, white, white);
}
.AddJob__section-heading {
  text-transform: uppercase;
  margin: 1rem auto;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  transform: scale(1.2, 1);
  margin-top: 5rem;
}
.AddJob__section-para {
  color: slategrey;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 700;
}
.AddJob__section-para sup {
  color: red;
  font-size: 1rem;
}
.AddJob__container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80%;
  margin: 3rem auto;
}
.AddJob__form > div {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.AddJob__form > div > div {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
.AddJob__form > div > div label {
  font-size: 1.2rem;
  color: #404040;
  font-weight: 500;
  text-transform: capitalize;
}
.AddJob__form > div > div label sup {
  color: red;
}
.AddJob__form > div input,
.AddJob__form > div textarea {
  width: 20rem;
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  outline: none !important;
  background-color: transparent;
  border-bottom: 2px solid #848484;
}
.AddJob__form-text {
  margin-left: 2rem;
}
.AddJob__form-text textarea {
  outline: none !important;
  word-wrap: wrap;
  height: 10rem !important;
  width: 50rem !important;
}
.AddJob__form-file input {
  border: none !important;
  margin: 0.5rem;
}
.AddJob__form-checkbox {
  width: 20rem;
}
.AddJob__form-checkbox label {
  margin: 0.3rem 0;
}
.AddJob__form-checkbox label sup {
  color: red;
}
.AddJob__form-checkbox input {
  margin: 0.3rem 1rem !important;
  border: 1px solid slategrey !important;
  height: 2rem !important;
  width: 2rem !important;
}
.AddJob__submit {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #0371ee;
  margin: 2rem 50%;
  transform: translate(-50%, 0);
  height: 3rem;
  width: 10rem;
  cursor: pointer;
}

@media screen and (max-width: 1198px) {
  .dashboard__cunt-2 {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=styles.css.map */
