.dashboard {
  &__section {
    background-color: #efefef;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e5e5e5' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b3b3b3' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23dfdfdf' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23afafaf' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9d9d9' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23acacac' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3d3d3' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a8a8a8' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23cdcdcd' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a5a5a5' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23c7c7c7' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23a1a1a1' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  &__container {
    margin: 7rem auto 2rem;
    // height: 80vh;
    // background-color: rgb(151, 241, 120);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__cunt-2 {
    margin-top: 1rem;
    // background: rgb(233, 122, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    // width: 100%;
    // margin-top: -2rem;
    // padding: 1rem;
  }
}

.jobsApply {
  &__section {
    background-color: #efefef;
    width: 100%;
    margin: 0 auto;
    // margin: 5rem auto;
    text-align: center;
    &-heading {
      text-transform: uppercase;
      margin: 6rem auto 4rem auto;
      font-size: 2rem;
      font-weight: 700;
      transform: scale(1.2, 1);
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    // flex-direction:
    width: 87%;
    margin: 0 auto;
    // background-color: rgb(205, 155, 102);
  }
}

.AddJob {
  &__section {
    margin: 0 auto;
    // background-color: rgba(232, 240, 247, 0.497);
    // width: 100%;

    background-image: linear-gradient(
        135deg,
        transparent 0%,
        transparent 17%,
        rgba(87, 146, 234, 0.21) 17%,
        rgba(87, 146, 234, 0.21) 59%,
        transparent 59%,
        transparent 64%,
        rgba(149, 170, 236, 0.29) 64%,
        rgba(149, 170, 236, 0.29) 100%
      ),
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 2%,
        rgba(189, 221, 255, 0.47) 2%,
        rgba(189, 221, 255, 0.47) 46%,
        rgba(114, 178, 239, 0.27) 46%,
        rgba(114, 178, 239, 0.27) 54%,
        transparent 54%,
        transparent 63%,
        rgba(170, 186, 248, 0.29) 63%,
        rgba(170, 186, 248, 0.29) 100%
      ),
      linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));

    &-heading {
      text-transform: uppercase;
      margin: 1rem auto;
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
      transform: scale(1.2, 1);
      margin-top: 5rem;
    }
    &-para {
      color: slategrey;
      text-transform: uppercase;
      // margin : 2rem auto;
      font-size: 0.9rem;
      text-align: center;
      font-weight: 700;
      sup {
        color: red;
        font-size: 1rem;
      }
      // transform: scale(1.2,1);
      // margin-top: 5rem;
    }
  }

  &__container {
    // background-color: rgb(205, 155, 102);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 80%;
    margin: 3rem auto;
    // padding: 0.5rem;
  }
  &__form {
    // width: 90%;

    & > div {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5rem;
      // flex-direction: column;
      // margin: 0 auto;
      justify-content: center;
      align-items: center;

      & > div {
        // background-color: rgb(77, 235, 127);
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        // padding: 1rem;

        label {
          font-size: 1.2rem;
          color: rgb(64, 64, 64);
          // color: #053771;
          font-weight: 500;
          text-transform: capitalize;
          sup {
            color: red;
          }
        }
      }

      input,
      textarea {
        width: 20rem;
        height: 3rem;
        font-size: 1.1rem;
        border: none;
        outline: none !important;

        background-color: transparent;
        border-bottom: 2px solid rgb(132, 132, 132);
        // border: none;
        // outline: none;
      }
    }

    &-text {
      // flex: 2;
      margin-left: 2rem;

      textarea {
        outline: none !important;
        word-wrap: wrap;
        height: 10rem !important;
        width: 50rem !important ;
      }
    }

    &-file {
      // flex: 2;
      // margin-left: 2rem;

      input {
        border: none !important;
        margin: 0.5rem;
      }
    }
    &-checkbox {
      width: 20rem;
      // height: 3rem;
      // padding: 1rem;
      label {
        margin: 0.3rem 0;
        sup {
          color: red;
        }
      }
      input {
        margin: 0.3rem 1rem !important;
        border: 1px solid slategrey !important;
        height: 2rem !important;
        width: 2rem !important;
      }
    }
  }

  &__submit {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #0371ee;
    margin: 2rem 50%;
    transform: translate(-50%, 0);
    height: 3rem;
    width: 10rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 1198px) {
  .dashboard {
    &__cunt-2 {
      flex-direction: column-reverse;
    }
  }
}


.dashboardTpo {
  &__section {
    background-color: rgb(235, 235, 235);
  }
  &__container {
    width: 80%;
    // background-color: rgb(240, 140, 140);
    margin: 7rem auto 2rem;
  }
  &__links{
    ul{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // background-color: rgb(255, 153, 153);
      li{
        border-radius: 3px;
        background-color: rgb(76, 76, 76);
        margin: 1rem;
        padding: 0.3rem 0.5rem;
        font-size: 1.1rem;
        color: rgb(255, 250, 241);
        transition: all 0.2s;
        &:hover{
          cursor: pointer;
          transform: scale(1.02);
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
      }
    }
  }
  &__cunt{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    // background-color: rgb(140, 140, 248);
    
    &>div{
      border-radius: 3px;
      // flex: 1;
      margin: 0.4rem;
      // width: 20rem;
      // height: 35rem;
      background-color: rgb(145, 191, 255);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      h3{
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0.4rem;
      }

      ul{
        margin: 0 auto;
        background-color: rgb(235, 235, 235);
        overflow-y: scroll;
        height: 30rem;
        padding: 0.5rem 0;
        li{
          border-radius: 3px;
          padding: 0.3rem;
          margin: 0.5rem auto;
          width: 95%;
          background-color: rgb(226, 226, 226);
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }
      }
    }
  }
  
  &__notif{
    flex: 3;
  }
  &__approve{
    flex: 4;
  }
}

.allStudents{
  &__section {
    // background-color: #a4ff92;
    width: 100%;
    // margin: 0 auto;
    margin: 7rem auto;
    text-align: center;
    &-heading {
      text-transform: uppercase;
      // margin: 6rem auto 4rem auto;
      font-size: 2rem;
      font-weight: 700;
      transform: scale(1.2, 1);
    } 
  }
}
