.header-logo {
  margin-top: 1rem !important;
}
.header-logo img {
  height: 6rem;
}

.profile__card {
  width: 1100px;
  background: rgba(255, 255, 255, 0.801);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 2px 5px -1px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0.5rem;
}
.profile__img img {
  border-radius: 100%;
  width: 10rem;
}
.profile__cunt-1 {
  background-color: #1a5f99;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  flex-wrap: wrap;
}
.profile__cunt-1-details {
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
  font-weight: 600;
}
.profile__cunt-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.profile__cunt-2-section {
  width: 47%;
  padding: 1rem 0.5rem;
}
.profile__cunt-2-details {
  font-size: 1.1rem;
  margin: 0.44rem;
  display: flex;
  text-align: left;
}
.profile__cunt-2-details span {
  font-weight: 600;
  margin-right: 2rem;
  font-size: 1.15rem;
}

.notification__section {
  width: 530px;
  background: rgba(255, 255, 255, 0.815);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 2px 5px -1px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.notification__container {
  height: 20rem;
  overflow-y: scroll;
  border-radius: 0.5rem;
}
.notification__heading {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #1a5f99;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
  text-align: center;
}

.new-svg {
  width: 100%;
}

.notification-card {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 0.7rem 1.2rem;
  color: #3a3737;
  background-color: #eeeeee;
  padding: 0.4rem 0.2rem 0.4rem 0.8rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.notification-card .notification-card-section-1 {
  width: 93%;
}
.notification-card .notification-card-section-2 {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 7%;
}

.job__card {
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 3px 0px, rgba(27, 31, 35, 0.15) 0px 3px 5px -1px;
  width: 470px;
  height: 230px;
  margin: 1rem 10px;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: #464646;
}
.job__card__section-1 {
  width: 33%;
  background-color: #dbdbdb;
  padding: 1rem;
}
.job__card__section-1 .company-logo-container {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
}
.job__card__section-1 .company-logo-container .company-logo {
  max-width: 100%;
}
.job__card__section-1 .company-name-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job__card__section-1 .company-name-container h3 {
  font-size: 16px;
  font-weight: 600;
}
.job__card__section-2 {
  width: 67%;
  padding: 1.1rem;
}
.job__card__section-2 .company-details-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
}
.job__card__section-2 .company-details-container .company-details {
  width: 49%;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}
.job__card__section-2 .company-details-container .company-details h3 {
  color: #1a5f99;
  font-weight: 600;
}
.job__card__section-2 .company-details-container .company-details .fa-icon {
  color: dimgray;
  font-size: large;
}
.job__card__section-2 .company-details-container .company-details p {
  color: dimgray;
}
.job__card__section-2 .apply-before-container {
  margin-top: 3px;
  font-size: 16px;
}
.job__card__section-2 .apply-before-container span {
  color: #1a5f99;
  font-weight: 600;
}
.job__card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 3px 0px, rgba(27, 31, 35, 0.15) 0px 8px 5px -1px;
}

.jobsProfile__section {
  width: 100%;
  background-image: linear-gradient(135deg, transparent 0%, transparent 17%, rgba(87, 146, 234, 0.21) 17%, rgba(87, 146, 234, 0.21) 59%, transparent 59%, transparent 64%, rgba(149, 170, 236, 0.29) 64%, rgba(149, 170, 236, 0.29) 100%), linear-gradient(45deg, transparent 0%, transparent 2%, rgba(189, 221, 255, 0.47) 2%, rgba(189, 221, 255, 0.47) 46%, rgba(114, 178, 239, 0.27) 46%, rgba(114, 178, 239, 0.27) 54%, transparent 54%, transparent 63%, rgba(170, 186, 248, 0.29) 63%, rgba(170, 186, 248, 0.29) 100%), linear-gradient(90deg, white, white);
}
.jobsProfile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 7rem auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.jobsProfile__container > div {
  margin: 1.5rem;
}
.jobsProfile__header {
  text-align: left;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  width: 80%;
}
.jobsProfile__header-img img {
  height: 5rem;
}
.jobsProfile__header h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.jobsProfile__header p {
  font-size: 1rem;
  font-weight: 400;
  color: #646363;
  transform: scale(1.01, 0.9);
}
.jobsProfile__header-details {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.jobsProfile__header-details h6 {
  font-size: 0.94rem;
}
.jobsProfile__header-details p {
  font-size: 0.91rem;
  transform: scale(1);
}
.jobsProfile__main-heading h3 {
  font-size: 1.1rem;
  font-weight: 600;
  transform: scale(1.1, 0.9) translateX(5%);
}
.jobsProfile__main-para {
  margin: 1rem;
}
.jobsProfile__main-para h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #645f5f;
}
.jobsProfile__main-para p {
  font-size: 0.96rem;
  font-weight: 200;
}
.jobsProfile__footer {
  align-self: baseline;
}
.jobsProfile__footer h3 {
  font-size: 1.1rem;
  font-weight: 600;
  transform: scale(1.1, 0.9);
}

@media screen and (max-width: 1198px) {
  .profile__card {
    width: 900px;
  }

  .notification__section {
    width: 900px;
  }
}
@media screen and (max-width: 992px) {
  .profile__card {
    width: 700px;
  }

  .notification__section {
    width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .profile__card {
    width: 500px;
  }
  .profile__cunt-2 {
    flex-direction: column;
  }
  .profile__cunt-2-section {
    width: 100%;
  }

  .notification__section {
    width: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
