.header-logo {
  margin-top: 1rem !important;
  img {
    height: 6rem;
  }
}
.profile {
  &__card {
    width: 1100px;
    background: rgba(255, 255, 255, 0.801);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 2px 5px -1px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0.5rem;

    // &:hover{
    //     transition: all ease-in 0.1s;
    //     transform: translateY(-7px);
    //     box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 3px 0px, rgba(27, 31, 35, 0.15) 0px 10px 3px 0px;
    // }
  }

  &__img {
    // padding: 3rem;
    // overflow: hidden;
    & img {
      border-radius: 100%;
      // height: 50%;
      // width: 50%;
      width: 10rem;
    }
  }
  &__cunt {
    &-1 {
      background-color: #1a5f99;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;
      flex-wrap: wrap;
      &-details {
        color: whitesmoke;
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem;
        font-weight: 600;
      }
    }
    &-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &-section {
        width: 47%;
        padding: 1rem 0.5rem;
      }

      padding: 1rem;
      &-details {
        font-size: 1.1rem;
        margin: 0.44rem;
        display: flex;
        text-align: left;
        span {
          font-weight: 600;
          margin-right: 2rem;
          font-size: 1.15rem;
        }
      }
    }
  }
}

.notification {
  &__section {
    width: 530px;
    background: rgba(255, 255, 255, 0.815);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 2px 5px -1px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__container {
    height: 20rem;
    overflow-y: scroll;
    border-radius: 0.5rem;
  }

  &__heading {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #1a5f99;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    color: white;
    text-align: center;
  }
}
.new-svg {
  width: 100%;
}

.notification-card {
  display: flex;
  justify-content: space-between;

  border-radius: 0.5rem;
  margin: 0.7rem 1.2rem;

  color: rgb(58, 55, 55);
  background-color: rgb(238, 238, 238);
  padding: 0.4rem 0.2rem 0.4rem 0.8rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  .notification-card-section {
    &-1 {
      width: 93%;
      // background-color: aquamarine;
    }
    &-2 {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      width: 7%;
      // background-color: burlywood;
    }
  }
}

// //////////////////////////Job card/////////////////
.job__card {
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 3px 5px -1px;

  width: 470px;
  height: 230px;
  margin: 1rem 10px;
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  color: rgb(70, 70, 70);

  &__section {
    &-1 {
      width: 33%;
      background-color: rgb(219, 219, 219);
      padding: 1rem;

      .company-logo-container {
        height: 70%;
        width: 100%;

        display: flex;
        align-items: center;

        .company-logo {
          max-width: 100%;
        }
      }

      .company-name-container {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    &-2 {
      // background-color: chocolate;
      width: 67%;
      padding: 1.1rem;

      .company-details-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        // background-color: cyan;
        height: 85%;

        .company-details {
          width: 49%;
          flex-shrink: 0;
          flex-grow: 0;
          // background-color: cadetblue;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          font-size: 16px;

          h3 {
            color: #1a5f99;
            font-weight: 600;
          }

          .fa-icon {
            color: dimgray;
            font-size: large;
          }

          p {
            color: dimgray;
          }
        }
      }

      .apply-before-container {
        // background-color: darkgray;
        margin-top: 3px;
        font-size: 16px;

        span {
          color: #1a5f99;
          font-weight: 600;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 8px 5px -1px;
  }
}

.jobsProfile {
  &__section {
    width: 100%;

    background-image: linear-gradient(
        135deg,
        transparent 0%,
        transparent 17%,
        rgba(87, 146, 234, 0.21) 17%,
        rgba(87, 146, 234, 0.21) 59%,
        transparent 59%,
        transparent 64%,
        rgba(149, 170, 236, 0.29) 64%,
        rgba(149, 170, 236, 0.29) 100%
      ),
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 2%,
        rgba(189, 221, 255, 0.47) 2%,
        rgba(189, 221, 255, 0.47) 46%,
        rgba(114, 178, 239, 0.27) 46%,
        rgba(114, 178, 239, 0.27) 54%,
        transparent 54%,
        transparent 63%,
        rgba(170, 186, 248, 0.29) 63%,
        rgba(170, 186, 248, 0.29) 100%
      ),
      linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 7rem auto;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    & > div {
      // background-color:hotpink;
      margin: 1.5rem;
    }
  }
  &__header {
    text-align: left;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    // height: 100%;
    width: 80%;
    &-img {
      img {
        height: 5rem;
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: rgb(100, 99, 99);
      transform: scale(1.01, 0.9);
    }

    &-details {
      margin: 1rem 0;

      width: 100%;
      display: flex;
      justify-content: space-around;

      align-items: center;
      & h6 {
        font-size: 0.94rem;
      }
      & p {
        font-size: 0.91rem;
        transform: scale(1);
      }
    }
  }

  &__main {
    &-heading {
      h3 {
        font-size: 1.1rem;
        font-weight: 600;
        transform: scale(1.1, 0.9) translateX(5%);
      }
    }
    &-para {
      margin: 1rem;
      & h5 {
        font-size: 1rem;
        font-weight: 700;
        color: rgb(100, 95, 95);
      }
      p {
        font-size: 0.96rem;
        font-weight: 200;
      }
    }
  }
  &__footer {
    align-self: baseline;
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      transform: scale(1.1, 0.9);
    }
  }
}

@media screen and (max-width: 1198px) {
  .profile {
    &__card {
      width: 900px;
    }
  }
  .notification {
    &__section {
      width: 900px;
    }
  }
}

@media screen and (max-width: 992px) {
  .profile {
    &__card {
      width: 700px;
    }
  }
  .notification {
    &__section {
      width: 700px;
    }
  }
}

@media screen and (max-width: 767px) {
  .profile {
    &__card {
      width: 500px;
    }
    &__cunt {
      &-2 {
        flex-direction: column;
        &-section {
          width: 100%;
        }
      }
    }
  }
  .notification {
    &__section {
      width: 500px;
    }
  }
}
